<section class="section--home grid-center">
    <h2 class=heading--home>Web Directories</h2>
    <p class=text-center>{{ sitemeta.siteDomain }} is listed at the following web  directories:</p>
    <ul class="widgets directories">
        <li><a href=https://bukmark.club/>BUKMARK.CLUB</a></li>
        <li><a href=https://darktheme.club/>The Darktheme Club</a></li>
        <li><a href=https://www.11ty.dev/authors/>Eleventy Authors</a></li>
        <li><a href=https://personalsit.es/>PersonalSit.es</a></li>
    </ul>
</section>

<section class="section--home grid-center">
    <h2 class=heading--home>Webrings</h2>
    <p class=text-center>{{ sitemeta.siteDomain }} is a member of the following webrings:</p>
    <div class="widgets webrings">
        <nav class=a11y-webring-club aria-labelledby=a11y-webring-club>
            <h3 id=a11y-webring-club><a rel=external href=https://a11y-webring.club/>a11y-webring.club</a></h3>
            <ul>
                <li><a rel=external referrerpolicy=strict-origin href=https://a11y-webring.club/prev>Previous website</a></li>
                <li><a rel=external referrerpolicy=strict-origin href=https://a11y-webring.club/random>Random website</a></li>
                <li><a rel=external referrerpolicy=strict-origin href=https://a11y-webring.club/next>Next website</a></li>
            </ul>
        </nav>

        <nav aria-labelledby=ctp-webring>
            <h3 id=ctp-webring><a href=https://ctp-webr.ing/>The Catppuccin Webring</a></h3>
            <ul>
                <li><a href=https://ctp-webr.ing/helenchong/previous>Previous website</a></li>
                <li><a href=https://ctp-webr.ing/rand>Random website</a></li>
                <li><a href=https://ctp-webr.ing/helenchong/next>Next website</a></li>
            </ul>
        </nav>


        <nav aria-labelledby=css-joy>
            <h3 id=css-joy><a href=https://cs.sjoy.lol/>CSS JOY Webring</a></h3>
            <ul>
                <li><a class=external-link href=https://webri.ng/webring/cssjoy/previous?via=https://helenchong.dev/>Previous website</a></li>
                <li><a class=external-link href=https://webri.ng/webring/cssjoy/random?via=https://helenchong.dev/>Random website</a></li>
                <li><a class=external-link href=https://webri.ng/webring/cssjoy/next?via=https://helenchong.dev/>Next website</a></li>
            </ul>
        </nav>

        <nav aria-labelledby=fediring>
            <h3 id=fediring><a href=https://fediring.net/>Fediring</a></h3>
            <ul>
                <li><a class=external-link href=https://fediring.net/previous?host=helenchong.dev>Previous website</a></li>
                <li><a class=external-link href=https://fediring.net/random>Random website</a></li>
                <li><a class=external-link href=https://fediring.net/next?host=helenchong.dev>Next website</a></li>
            </ul>
        </nav>

        <nav aria-labelledby=indieweb-webring>
            <h3 id=indieweb-webring>An <a href=https://xn--sr8hvo.ws>IndieWeb Webring</a> 🕸💍</h3>
            <ul>
                <li><a href=https://xn--sr8hvo.ws/previous>Previous website</a></li>
                <li><a href=https://xn--sr8hvo.ws/next>Next website</a></li>
            </ul>
        </nav>

        <nav aria-labelledby=staticquest-webring>
            <h3 id=staticquest-webring><a href=https://static.quest>Static.Quest</a></h3>
            <ul>
                <li><a class=external-link href=https://static.quest/previous/?host=helenchong.dev>Previous website</a></li>
                <li><a class=external-link href=https://static.quest/members>View members</a></li>
                <li><a class=external-link href=https://static.quest/next/?host=helenchong.dev>Next website</a></li>
                <li><a class=external-link href=https://static.quest/random>Random website</a></li>
            </ul>
        </nav>
    </div>
</section>
