<div class="h-card hidden">
    <span class="p-name">Helen Chong</span>
    <span class="p-given-name">Helen</span>
    <span class="p-family-name">Chong</span>
    <a href="/" class="u-url">Home page</a>
    <img src="/assets/graphics/profile/avatar-helen-chong.avif" alt="Helen Chong, Front-End Developer" class="u-photo">
    <span class="p-country-name">Malaysia</span>
    <span class="p-note">They/she. Graphic designer turned front-end web developer from Malaysia.</span>
</div>