<aside class="left-sidebar" aria-label="Left sidebar">
	<details-utils force-open="(min-width: 60rem)" force-restore>
		<details class="toc__wrapper sidebar--sticky">
			<summary class="toc__heading" id="toc-heading">
				Table of Contents
			</summary>
			{{ content |> toc }}
		</details>
	</details-utils>
</aside>
