---
pagination:
    data: collections.categories
    size: 1
    alias: category
    addAllPagesToCollections: true
permalink: /blog/categories/{{ category | slugify }}/
layout: global/content
hasBreadcrumbs: true
eleventyComputed:
    title: 'Blog Post Category: "{{ category | safe }}"'
    eleventyNavigation:
        key: "{{ category }}"
        parent: Blog Categories
---
{% set postCount = collections.posts | filterByCategory(category) | length %}
<h2>{{ postCount }} Posts Filed Under "{{ category }}"</h2>

{% set postList = collections.posts | filterByCategory(category) | reverse %}
{% include "blog/postslist.njk" %}

<p>See <a href="/blog/categories/">all blog post categories</a>.</p>
