---
pagination:
    data: collections.categories
    size: 1
    alias: category
permalink: /blog/categories/{{ category | slugify }}/
layout: main/base
eleventyComputed:
    title: 'Blog Post Category: "{{ category }}"'
---

<h2 class="heading--main">Blog Post Category: "{{ category }}"</h2>

{% set postList = collections.posts | filterByCategory(category) | reverse %}

{% include "blog/postslist.njk" %}

<p>See <a href="/blog/categories/">all blog post categories</a>.</p>
<p>See all blog posts in the <a href="/blog/archive/">archive</a>.</p>