---
pagination:
    data: collections.categories
    size: 1
    alias: category
permalink: /blog/categories/{{ category | slugify }}/
layout: blog/base
eleventyComputed:
    title: 'Blog Post Category: "{{ category }}"'
    eleventyNavigation:
        key: {{ category }}
        parent: Categories
---
{% set postCount = collections.posts | filterByCategory(category) | length %}
<h2 class="heading--main">{{ postCount }} Posts Filed Under "{{ category }}"</h2>

{% set postList = collections.posts | filterByCategory(category) | reverse %}
{% include "blog/postslist.njk" %}

<p>See <a href="/blog/categories/">all blog post categories</a>.</p>
