---
title: Blog Archive
layout: global/content
tags: blog pages
blogNav: Archive
sitemap:
    changefreq: weekly
eleventyNavigation:
    key: Blog Posts
    title: Archive
    parent: Blog
    order: 3
---
{% set postList = collections.posts | reverse %}
{% include "blog/postslist.njk" %}