---
title: Contact
pageTitle: Contact
eleventyNavigation:
    key: Contact
    order: 5
---

<p>Want to get in touch with me? I am always open to connect with more people, so feel free to reach out by filling out the email contact form below.</p>

<p>Alternately, you can contact me through other methods:</p>
<ul>
    <li>Fediverse: Ping me or send me a private mention to my Mastodon account at <a href="https://social.lol/@helenchong">@helenchong@social.lol</a></li>
    <li>Matrix: Message <code>{{ sitemeta.siteAuthor.matrix }}</code></li>
    <li>Signal: Message <code>{{ sitemeta.siteAuthor.signal }}</code></li>
</ul>

<h2>Email Contact Form</h2>
{% set letterbirdUser = "helenchongdev" %}
<section class="contact">
    <script data-letterbirduser="{{ letterbirdUser }}" src="https://letterbird.co/embed/v1.js"></script>
    <noscript>
        <h3>You Have Disabled JavaScript</h3>
        <p>Looks like you have disabled JavaScript, preventing this contact form from being displayed on this page. You may visit <a href="https://letterbird.co/{{ letterbirdUser }}">my Letterbird contact form page</a> to reach out to me.</p>
    </noscript>
</section>

{%- css %}.contact { margin-top: 1em; }{% endcss %}