---
title: Projects
pageTitle: Featured Projects
eleventyNavigation:
    key: Projects
    order: 3
---

<div class="project-list">
    {{ set projectList = collections.projects }}
    {{ include "main/project-card.vto" }}
</div>
