---
title: Projects
pageTitle: Featured Projects
eleventyNavigation:
    key: Projects
    order: 3
---

<div class="project-list">
    {{# {{ for project of collections.projects }}
        {{ include "main/project-card.vto" }}
    {{ /for }} #}}
</div>
