---
title: Projects
pageTitle: Featured Projects
eleventyNavigation:
    key: Projects
    order: 4
---

<div class="project-list">
    {% asyncEach project in collections.projects %}
        {% include "main/project-card.njk" %}
    {% endeach %}
</div>