---
layout: main/content
---

{% set currentUrl %}{{ page.url }}{% endset %}
<nav class="blog__nav">
    <h2 class="blog__nav--title">Blog Navigation:</h3>
    <ul class="blog__nav--links">
        <li><a {% if page.url == "/blog/" %}aria-current="page"{% endif %} href="/blog/">Index</a></li>
        {% set navPages = collections.all | eleventyNavigation("Blog") %}
        {%- for entry in navPages %}
            <li><a
                {% if entry.url == page.url %}aria-current="page"{% endif %}
                href="{{ entry.url }}">
                    {{ entry.title }}
            </a></li>
        {%- endfor %}
        <li><a href="/blog/feed.xml">RSS</a></li>
    </ul>
</nav>

<style>
    .blog__nav,
    .blog__nav--links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .blog__nav {
        flex-direction: column;
        gap: 0.5em;
        padding-bottom: 1em;
        align-self: center;
        font-weight: 600;
    }

    .blog__nav--title,
    .blog__nav--links {
        margin: 0;
        padding: 0;
        font-size: 1.1rem;
    }

    .blog__nav--links {
        list-style: none;
        gap: 0.7em;
    }

    .blog__nav--links li {
        text-align: center;
        align-self: center;
    }

    .blog__nav--links li:not(:last-child)::after {
        content: '|';
        padding-left: 0.6em;
    }

    .blog__nav--links [aria-current="page"] {
        text-decoration: none;
        color: var(--clr-link-hover);
    }

    @media (min-width: 640px) {
        .blog__nav {
            flex-direction: row;
            gap: 1.5em;
        }
    }
</style>

{{ content | safe }}