<nav class="blog__nav">
    <h3 class="blog__nav--title">Blog Navigation:</h3>
    <ul class="blog__nav--links">
        <li><a href="/blog">Index</a></li>
        <li><a href="/blog/posts">Archive</a></li>
        <li><a href="/blog/categories">Categories</a></li>
        <li><a href="/blog/feed.xml">RSS Feed</a></li>
    </ul>
</nav>