---
layout: main/base
---

<h2>{{ title }}</h2>

<section>
	<p>Posted: {{ date | niceDate }}</p>
	<p>Categories:
	{% for cat in categories %}
        <a href="/blog/categories/{{ cat | slugify }}">{{ cat }}</a>{% if not loop.last %}, {% endif %}
	{% endfor %}
    </p>
</section>

<article class="prose">
    {{ content | safe }}
</article>

{%- if collections.posts %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem %}
    {%- set nextPost = collections.posts | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
        <ul class="links-nextprev">
            {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
            {%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
        </ul>
    {%- endif %}
{%- endif %}
