---
layout: layouts/content
---

{{ content }}

{{ if updated }}
<p class="update-info">(This {{ keyword ? keyword : "page" }} was last updated on <time datetime="{{ updated }}">{{ updated |> formatDate }}</time>)</p>
{{ /if }}
