/* Blog Styles */
.blog__postlist,
.blog__post--info { display: grid; }
.blog__postlist { gap: 0.5em; }
.blog__postlist--title { font-size: var(--fs-bloglist-title); }
.blog__nav--title { font-size: var(--fs-h3); }

.blog__post--info {
    gap: 0.3em;
    font-size: var(--fs-main-txt);
}

.blog__post--pagination {
    padding-top: 0.8em;
    margin-top: 2.5em;
    border-top: 0.1em solid var(--clr-slate-600);
}

.blog__post--nextprev {
    list-style-type: "";
    padding: 0;
    margin: 0;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'prev next';
}

.blog__post--prev { grid-area: prev; }
.blog__post--next { grid-area: next; }