/* Blog Styles */

.blog__postlist,
.blog__post--info {
    display: grid;
}

.blog__postlist {
    gap: 0.5em;
}

.blog__postlist--title {
    font-size: 1.3rem;
}

.blog__post--info {
    gap: 0.3em;
    font-size: var(--fs-home-txt);
    margin-bottom: 2em;
}

.blog__post--nextprev {
    list-style: none;
    padding-left: 0;
    padding-top: 0.8em;
    margin-top: 2.5em;
    display: grid;
    gap: 0.7em;
    border-top: 0.1em solid var(--clr-slate-600);
}
