/* Skip to content button */
.skip-btn a {
    position: absolute;
    display: inline-block;
    top: -1000px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    transition: top 0.5s ease;
    background: #fff;
    z-index: 1000;
    padding: 0.3em;
    margin: 0 auto;
}

.skip-btn a:focus {
    top: 0;
    transition: top 0.3s ease;
    outline: 0.2em solid var(--clr-accent-600);
}

/* Home page sections */
.home--container {
    margin: 0 auto;
}

.section--home {
    display: grid;
    font-size: var(--sz-home-txt);
    padding: 2em 1em;
}

.section--home,
.profile {
    max-width: 64rem;
    font-size: var(--sz-home-txt);
    justify-self: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 1em 0;
}

.profile__image-wrapper {
    display: grid;
    place-content: center;
}

.profile__image-wrapper img {
    width: 250px;
    height: 250px;
    border-radius: 9999px;
}

.profile__card {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    flex: 1;
}

.profile__text {
    margin-bottom: 1rem;
    color: var(--clr-slate-600);
}

.profile__text--lead {
    font-weight: 500;
    font-size: 1.5rem;
}

.profile__text--highlight {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--clr-accent-600);
}

.profile__text--emphasis {
    font-weight: bold;
    font-size: 1.125rem;
}

.profile__link {
    font-weight: bold;
}

/* For larger screen sizes */
@media (min-width: 640px) {
    .profile {
        flex-direction: row;
        padding: 0 1em;
    }

    .profile__image-wrapper img {
        margin: 4rem;
    }
}

/* Home headings */
.heading--home {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

/* Skills Styles */
.skills__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 2rem;
}

.skills__item {
    display: grid;
    justify-items: center;
    gap: 0.3em;
}

.skills__logo img {
    width: 3rem;
    height: auto;
}

.skills__title {
    font-weight: 400;
    color: var(--clr-slate-600);
    text-align: center;
}

/* Breadcumbs */
.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    font-size: var(--sz-home-txt);
}

.breadcrumbs li::after {
    content: '➔';
    padding-left: 0.3em;
}
