/* Skip to content button */
.skip-btn a {
    position: absolute;
    display: inline-block;
    top: -1000px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    transition: top 0.5s ease;
    background: var(--clr-body-bg);
    z-index: 1000;
    font-size: 1.25rem;
    padding: 0.3em 0.7em;
}

.skip-btn a:focus {
    top: 0;
    transition: top 0.3s ease;
    outline: 0.2em solid var(--clr-accent-600);
}

/* Breadcumbs */
.breadcrumbs {
    list-style-type: "";
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    font-size: var(--fs-home-txt);
}

.breadcrumbs li::after {
    content: '➔';
    padding-left: 0.3em;
}

/* Remove external link icon from Website Carbon badge */
#wcb_a::after { all: revert; }