/* Skip to content button */
.skip-btn a {
    position: absolute;
    display: inline-block;
    top: -1000px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    transition: top 0.5s ease;
    background: var(--clr-body-bg);
    z-index: 1000;
    font-size: 1.25rem;
    padding: 0.3em 0.7em;
}

.skip-btn a:focus {
    top: 0;
    transition: top 0.3s ease;
    outline: 0.2em solid var(--clr-accent-600);
}

/* Back to top button */
.top-btn__wrapper {
    width: 2.5rem;
    display: flex;
    align-items: flex-end;
    justify-self: end;
    justify-content: flex-end;
}

.top-btn {
    --offset: 100px;
    position: sticky;
    place-self: end;
    bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-top: calc(100vh + var(--offset));
    z-index: 999;

    width: 100%;
    aspect-ratio: 1;
    background: var(--clr-top-btn-bg);
    border-radius: 50em;
}

.top-btn:before {
    content:"";
    position: absolute;
    inset: 30%;
    transform: translateY(20%) rotate(-45deg);
    border-top: 5px solid var(--clr-top-btn-txt);
    border-right: 5px solid var(--clr-top-btn-txt);
}

.top-btn:focus {
    outline: 0.25em solid var(--clr-top-btn-bg);
    outline-offset: 0.15em;
}

/* Breadcumbs */
.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    font-size: var(--fs-home-txt);
}

.breadcrumbs li::after {
    content: '➔';
    padding-left: 0.3em;
}
