.main__header, content-wrapper { display: grid; }
content-wrapper { gap: 1rem; }

.main__header {
	padding: 3em var(--sz-main-padding);
	text-align: center;
}

.prose {
	font-size: var(--fs-main-txt);
	color: var(--clr-slate-600);
	padding: 0 var(--sz-main-padding) var(--sz-content-bottom);
}

.prose > * + :not([class]:not([class*="language-"])) {
	margin-block-start: var(--sz-paragraph-margin);
}

.prose > * + h2, .prose > * + .h2,
.prose > h3,  .prose > * + .h3,
.prose > h4, .prose > h5, .prose > h6 { margin-block-start: 2em; }

.bio { max-width: 65ch; }
.right-sidebar { padding: 0 clamp(1em, 5%, 1.5em) var(--sz-content-bottom); }

.sidebar--sticky {
	position: sticky;
	top: 1em;
}

/* Heading Wrapper and Anchor */
.heading-wrapper {
	display: flex;
	gap: 0.3em;
	align-items: baseline;
}

* + .heading-wrapper { margin-block-start: 1.8em; }

.heading-anchor {
	order: -1;
	text-underline-offset: 0.1em;
}

.heading-anchor:focus {
	outline: 0.13em solid currentColor;
	outline-offset: 0.05em;
}

/* Blog Pages */
.blog__posts, .blog__post { display: grid; }

.blog__posts {
	list-style-type: none;
	padding: 0;
	margin: 1.5em 0 0 0;
}

.blog__post {
	--bdr-blogpost: 0.15em solid var(--clr-accent-600);
	gap: 0.6em;
	padding: 1.5em 0;
	border-bottom: var(--bdr-blogpost);
}

.blog__post:first-of-type { border-top: var(--bdr-blogpost); }

.blog__post--title {
	font-size: clamp(1.55rem, 1rem + 3vw, 1.8rem);
	line-height: 1.3;
	margin-bottom: 0 !important;
}

.blog__post--time { font-weight: 700; }

/* Desktop main content layout */
@media only screen and (min-width: 60rem) {
	content-wrapper {
		grid-template-areas: 'leftbar article rightbar';
		grid-template-columns: 1fr minmax(min(60ch, 40vw), 2.5fr) 1fr;
	}

	.prose { grid-area: article; }
	.left-sidebar { grid-area: leftbar; }
	.right-sidebar { grid-area: rightbar; }
}
