.main__header,
.container {
    display: grid;
}

.container {
    gap: 1rem;
}

.main__header {
    padding: 3em var(--sz-main-padding) 1em;
    text-align: center;
}

.prose {
    font-size: var(--fs-main-txt);
    color: var(--clr-slate-600);
    padding: 0 var(--sz-main-padding) 4em;
}

.prose > * + :not([class]) {
    margin-top: var(--sz-paragraph-margin);
}

.prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
    margin-top: 2em;
}

.prose ul:not([class]), .prose ol:not([class]){
    display: grid;
    gap: 0.7em;
}

.prose ul ul, .prose ol ol,
.prose ul ol, .prose ol ul {
    margin-top: 0.7em;
}

.bio {
    max-width: 65ch;
}

.right-sidebar {
    padding: 0 clamp(1em, 5%, 1.5em) 3em;
}

.sidebar--sticky {
    position: sticky;
    top: 6em;
}

/* Desktop main content layout */
@media only screen and (min-width: 60rem) {
    .container {
        grid-template-areas: 'leftbar article rightbar';
        grid-template-columns: 1fr min(80ch,60vw) 1fr;
    }

    .prose {
        grid-area: article;
    }

    .left-sidebar {
        grid-area: leftbar;
    }

    .right-sidebar {
        grid-area: rightbar;
    }
}
