/* Contact Styles */
.contact__sub-heading {
    padding: 0 1rem;
    color: var(--clr-slate-600);
}

.form {
    width: 90%;
    margin: 4rem auto;
    border-radius: 0.25rem;
}

.form__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.form__label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 500;
}

.form__input {
    display: block;
    border: 0.1em solid var(--clr-slate-300);
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: var(--clr-slate-600);
}

.form__input:focus { outline: 0.2em solid var(--clr-accent-600); }

.form__button {
    display: block;
    width: 100%;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    color: #fff;
    background-color: var(--clr-accent-600);
    transition: background-color 0.3s ease;
}

.form__button:focus {
    outline: 0.3em solid var(--clr-accent-600);
    outline-offset: 0.15em;
}

@media only screen and (min-width: 36rem) {
    .form { max-width: 36rem; }
}