/* Home page sections */
.home--container { margin: 0 auto 2em; }

.section--home {
    display: grid;
    font-size: var(--fs-main-txt);
    padding: 2em 1em;
}

.section--home,
.profile {
    max-width: 65rem;
    font-size: var(--fs-main-txt);
    justify-self: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    margin: 3em 0;
    padding: 0 1em;
}

.profile__image-wrapper {
    display: grid;
    place-content: center;
}

.profile__image-wrapper img {
    width: 250px;
    height: 250px;
    border-radius: 9999px;
}

.profile__card {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profile__text {
    margin-bottom: 1rem;
    color: var(--clr-slate-600);
}

.profile__text--lead {
    font-weight: 500;
    font-size: var(--fs-profile);
}

.profile__text--highlight {
    font-weight: bold;
    font-size: var(--fs-profile);
    color: var(--clr-accent-600);
}

.profile__text--emphasis {
    font-weight: bold;
    font-size: 1.125rem;
}

.profile__link { font-weight: bold; }

/* For larger screen sizes */
@media (min-width: 640px) {
    .profile {
        flex-direction: row;
        padding: 0 1em;
    }
}

/* Home headings */
.heading--home {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

/* Home button links */
.home__btn-link {
    display: block;
    margin: 0 auto;
}

/* Webrings and Badges */
.widgets.webrings {
    gap: 2em;
    margin-top: 1.5em;
}
.widgets.webrings h3 { font-size: 1.5rem; }

.widgets.directories {
    padding: 0;
    gap: var(--sz-list-gap) 1.2em;
}

.home__badges {
    --badge-gap: 0.5em;
    gap: var(--badge-gap);
    margin-bottom: var(--badge-gap);
    align-items: center;
}