/* Project Styles */
.project__heading {
    padding: 1rem 0;
    font-size: 2.5rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    box-shadow: var(--bs-main);
    border-radius: 0.375rem;
}

.project-card__image-wrapper img {
    width: 100%;
    height: auto;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    transition: transform 0.3s ease 0s;
}

.project-card__image-wrapper:hover img {
    transform: scale(1.05);
}

.project-card__body { padding: 1em; }

.project-card__title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.3;
}

.project-card__title a:focus { outline: 0.15em solid var(--clr-txt-default); }

.project-card__tags {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}

.project-card__tag {
    display: flex;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    background-color: var(--clr-accent-100);
    color: var(--clr-accent-800);
}

.project-card__summary {
    margin-bottom: 1rem;
    color: var(--clr-slate-600);
}

.project-card__link {
    font-weight: 600;
    color: var(--clr-accent-600);
    margin-bottom: 0.6em;
}

.project-card__link:focus { outline: 0.15em solid var(--clr-accent-700); }

.project-card__link-icon {
    display: inline-block;
    vertical-align: text-bottom;
    width: auto;
    height: 1.2em;
    margin-left: -0.2em;
}

.project-card__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
}

.project-card__btn {
    text-align: center;
    width: 100%;
    padding: 0.4em;
    margin: 0.6em 0;
    background-color: var(--clr-body-bg);
    color: var(--clr-accent-700);
    border: 0.13em solid var(--clr-accent-700);
    border-radius: 0.35em;
    font-weight: 700;
    transition: 0.3s;
    text-decoration: none;
}

.project-card__btn:hover {
    color: var(--clr-body-bg);
    background-color: var(--clr-accent-700);
    cursor: pointer;
}

.project-card__btn:focus { outline: 0.2em solid var(--clr-accent-700); }

/* Project Page Styles */

.project-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 42rem;
    margin: 0 auto 4rem auto;
}

.project--page {
    display: grid;
    place-content: center;
}

.project { max-width: 60rem; }
.project__image-wrapper { margin-bottom: 1.5rem; }

.project__image-wrapper img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
}