/* Socials Style */
.socials {
    grid-area: scial;
    display: grid;
    place-content: center;
}
* + .socials { margin-top: 0.7em; }

.socials__links {
    list-style-type: "";
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.socials a { display: inline-flex; }

.socials a:hover,
.socials a:focus {
    outline: 0.15em solid var(--clr-accent-700);
    outline-offset: 0.15em;
}

.socials__icon {
    height: 2rem;
    fill: var(--clr-accent-700);
}