<section class="section--home grid-center">
    <h2 class="heading--home">Badges</h2>
    <div id="wcb" class="carbonbadge">
        <noscript>
            <p>Looks like you have JavaScript disabled. JavaScript is required to display the <a href="https://www.websitecarbon.com/badge/">Website Carbon badge</a>.</p>
        </noscript>
    </div>
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
</section>

{%- js %}
    const darkModePreference = window.matchMedia("(prefers-color-scheme: dark)");
    const websiteCarbonBadge = document.getElementById("wcb");

    if (window.matchMedia && darkModePreference.matches) {
        websiteCarbonBadge.classList.add("wcb-d");
    }

    darkModePreference.addEventListener("change", (event) => {
        if (event.matches) {
            websiteCarbonBadge.classList.add("wcb-d");
        } else {
            websiteCarbonBadge.classList.remove("wcb-d");
        }
    });
{% endjs %}