<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Open Graph meta data #}
        <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ sitemeta.siteName }}{% endif %}">
        {% metagen
            desc=desc or metadata.desc,
            url=url + page.url,
            auhor=sitemeta.siteAuthor.name,
            site_name=sitemeta.siteName,
            locale=sitemeta.siteLocale
        %}

        {# Google Fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

        {# Font Awesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{'/assets/icons/favicon/apple-touch-icon.png' | url | safe}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/icons/favicon/favicon-32x32.png' | url | safe}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/icons/favicon/favicon-16x16.png' | url | safe}}">
        <link rel="manifest" href="{{'/assets/icons/favicon/site.webmanifest' | url | safe}}">

        {# CSS #}
        <link rel="stylesheet" href="{{'/assets/css/style.css' | url | safe}}">

        <title>{% if title %} {{ title }} | {% endif %} {{ sitemeta.siteName }}</title>
    </head>
    <body>
        <div class="content">
            {% renderTemplate "webc" %}
                <header-main></header-main>
            {% endrenderTemplate %}

            <main class="main container">
                {{ content | safe }}
            </main>
        </div>

        {% include "main/footer.njk" %}

        {% renderTemplate "webc" %}
            <top-btn></top-btn>
        {% endrenderTemplate %}
    </body>
</html>