<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Open Graph meta data #}
        <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ sitemeta.siteName }}{% endif %}">
        {% metagen
            desc=desc or metadata.desc,
            url=sitemeta.siteUrl + page.url,
            auhor=sitemeta.siteAuthor.name,
            site_name=sitemeta.siteName,
            locale=sitemeta.siteLocale,
            generator=eleventy.generator
        %}

        {# Fonts #}
        <link rel="preconnect" href="{{'/' | url | safe}}">
        <link rel="stylesheet" href="{{ '/assets/fonts/Inter/inter.css' | url | safe}}">

        {# Font Awesome #}
        <link href="{{'/assets/fonts/fontawesome/css/fontawesome.css' | url | safe}}" rel="stylesheet" />
        <link href="{{'/assets/fonts/fontawesome/css/brands.css' | url | safe}}" rel="stylesheet" />
        <link href="{{'/assets/fonts/fontawesome/css/solid.css' | url | safe}}" rel="stylesheet" />

        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{'/assets/icons/favicon/apple-touch-icon.png' | url | safe}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/icons/favicon/favicon-32x32.png' | url | safe}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/icons/favicon/favicon-16x16.png' | url | safe}}">
        <link rel="manifest" href="{{'/assets/icons/favicon/site.webmanifest' | url | safe}}">

        {# CSS #}
        {% include "css.njk" %}

        <title>{% if title %} {{ title }} | {% endif %} {{ sitemeta.siteName }}</title>
    </head>
    <body>
        <div class="content">
            {% include "main/header.njk" %}
            <main class="main container">
                {{ content | safe }}
            </main>
        </div>
        {% include "main/footer.njk" %}
        {% include "main/top-btn.njk" %}
    </body>
</html>