---
layout: main/base
---

<header class="main__header">
    {% include "global/breadcrumbs.njk" %}

    <h1 class="heading--main">{{ pageTitle or title }}</h1>

    {% if tags and tags.includes("posts") %}
        <div class="blog__post--info">
            <p><span class="text-bold">Posted:</span> {{ date | niceDate }} by {{ sitemeta.siteAuthor.name }}</p>
            {% if updated %}
                <p><span class="text-bold">Last Updated:</span> {{ updated | niceDate }}</p>
            {% endif %}
            <p><span class="text-bold">Categories:</span>
                {% for cat in categories %}
                    <a href="/blog/categories/{{ cat | slugify }}">{{ cat }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>{{ content | emojiReadTime }}</p>
        </div>
    {% endif %}
</header>

<div class="container">
    {% set contentEl = "article" if isArticle else "div" %}
    <{{contentEl}} class="prose">
        {{ content | safe }}

        {% if tags and tags.includes("posts") %}
            {%- if collections.posts %}
            {%- set previousPost = collections.posts | getPreviousCollectionItem %}
            {%- set nextPost = collections.posts | getNextCollectionItem %}
            {%- if nextPost or previousPost %}
                <ul class="blog__post--nextprev">
                    {%- if previousPost %}<li>Previous Post: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
                    {%- if nextPost %}<li>Next Post: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
                </ul>
            {%- endif %}
        {%- endif %}
        {% endif %}
    </{{contentEl}}>

    {% if tags and tags.includes("blog pages") %}
        {% include "blog/blognav.njk" %}
    {% endif %}
</div>
