<footer class="footer container">
    {% include "main/socials.njk" %}

    <p>Built with &#x2661; by {{ sitemeta.siteAuthor.name }}. 2023–{% currentYear %}.</p>

    <p><a href="/blog/feed.xml">RSS Feed</a> | <a href="/accessibility">Accessibility</a></p>
    <p>Built with <a href="https://www.11ty.dev/">Eleventy</a>. <a href="https://github.com/helenclx/helenclx.github.io">Source Code</a>.</p>

    <p><a href="#page-top">Back to Top <i class="fa-solid fa-arrow-up"></i></a></p>
    {% include "main/top-btn.njk" %}
</footer>

<style>
    .footer {
        width: 100%;
        padding: 1.5em 1em 3em;
        text-align: center;
        display: flex;
        gap: 0.5em;
        flex-direction: column;
    }

    /* Screen sizes larger than mobile */
    @media only screen and (min-width: 30rem) {
        .footer {
            padding: 1.5em 1em 2em;
        }
    }

    /* Tablet screen size */
    @media only screen and (min-width: 43.75rem) {
        .footer {
            padding: 1.5em 1em;
        }
    }
</style>