<footer class="footer container">
    {% include "main/socials.njk" %}

    <p>Built with &#x2661; by {{ sitemeta.siteAuthor.name }}.</p>
    <p>2023–{% currentYear %}. <a href="https://github.com/helenclx/helenclx.github.io" target="_blank">Source Code</a>.</p>
</footer>