<footer class="footer container">
    {% include "main/socials.njk" %}

    <p>Built with &#x2661; by {{ sitemeta.siteAuthor.name }}.</p>
    <p>2023–{% currentYear %}. <a href="https://github.com/helenclx/helenclx.github.io">Source Code</a>.</p>
</footer>

<style>
    .footer {
        width: 100%;
        padding: 1rem;
        text-align: center;
        display: flex;
        gap: 0.5em;
        flex-direction: column;
    }
</style>