<header class="header">
    <h1 class="header__title">
        <a href="/">Helen Chong</a>
    </h1>
    <h2 class="visually-hidden">Navigation Links:</h2>
    <ul class="header__links">
        <li>
            <a class="header__link" href="/about">About</a>
        </li>
        <li>
            <a class="header__link" href="/projects">Projects</a>
        </li>
        <li>
            <a class="header__link" href="/blog">Blog</a>
        </li>
        <li>
            <a class="header__link" href="/contact">Contact</a>
        </li>
    </ul>
    <button class="header__toggle" aria-label="Toggle navigation menu">
        <i class="fa-solid fa-bars"></i>
    </button>
</header>
