<section class="profile">
    <div class="profile__image-wrapper h-card">
        <img fetchpriority="high" src="/assets/images/profile/avatar-helen-chong.avif" alt="Helen Chong, Front-End Developer" class="u-photo">
    </div>
    <div class="profile__card h-card">
        <p class="profile__text p-note">Hi! I am <span class="profile__text--highlight">Helen</span>, a graphic designer turned software developer from <span class="p-country-name">Malaysia</span>.</p>
        <p class="profile__text">As a <span class="profile__text--highlight">Front-End Developer</span>, I love building sites and apps that help people reach their personal and professional goals.</p>
        <p class="profile__text">I focus on responsive design, accessibility and scalability to create inclusive and dynamic user experiences.</p>
        <p class="profile__text">I am always open to new opportunities and projects, so do not hesitate to <a class="profile__link" href="/contact">get in touch</a>.<p>
    </div>
</section>