<section class="profile">
    <h2 class="visually-hidden">Introduction</h2>
    <div class="profile__image-wrapper">
        <img fetchpriority="high" src="/assets/images/profile/avatar-helen-chong.avif" alt="Helen Chong, Front-End Developer" loading="">
    </div>
    <div class="profile__card">
        <p class="profile__text">Hi! I am <span class="profile__text--highlight">Helen</span>, a graphic designer turned software developer from Malaysia.</p>
        <p class="profile__text">As a <span class="profile__text--highlight">Front-End Developer</span>, I love building sites and apps to help people, solve problems and express myself.</p>
        <p class="profile__text">I focus on responsive design, accessibility and scalability to create inclusive and dynamic user experiences.</p>
        <p class="profile__text">I am always open to new opportunities and projects, so do not hesitate to <a class="profile__link" href="/contact">get in touch</a>. You can also <a href="{{sitemeta.siteUrl}}/resume">check out my resume</a>.<p>
    </div>
</section>