<section class="section--home">
    <h2 class="heading--home">Featured Projects</h2>
    <div class="project-grid">
        {% asyncEach project in collections.projects %}
            {% include "main/project-card.njk" %}
        {% endeach %}
    </div>
</section>