---
layout: "main/base.njk"
---

<div class="project">
    <h2 class="project__heading">{{ title }}</h2>
    <div class="project__image-wrapper">
        <img src="image" alt="imageAlt">
    </div>
    <div class="project__content prose">
        <h3>Project links</h3>
        <ul>
            <li><a href="{{ siteUrl }}" target="_blank">Project Site</a></li>
            <li><a href="{{ repoUrl }}" target="_blank">Project Repository</a></li>
        </ul>

        {{ content | safe }}
    </div>
</div>