---
layout: global/base
hasBreadcrumbs: true
---
<div class="project--page">
    <header class="main__header">
        {% include "global/breadcrumbs.njk" %}

        <h1 class="heading--main">{{ pageTitle or title }}</h1>
    </header>

    <article class="project">
        <div class="project__image-wrapper">
            <img src="{{ image }}" alt="{{ imageAlt }}">
        </div>
        <div class="project__content prose">
            {{ content | safe }}
        </div>
    </article>
</div>