{%- macro skill(params) -%}
    <li class="skills__item">
	    <div class="skills__logo"><img src="/assets/icons/skills/{{ params.file }}" alt="{{ params.name }} logo"></div>
	    <p class="skills__title">{{ params.name }}</p>
	</li>
{%- endmacro -%}

<section class="section--home">
    <h2 class="heading--home">My Skills</h2>
    <ul class="skills__list">
        {{ skill({ name: 'HTML', file: 'html.svg' }) }}
        {{ skill({ name: 'CSS', file: 'css.svg' }) }}
        {{ skill({ name: 'JavaScript', file: 'javascript.svg' }) }}
        {{ skill({ name: 'Eleventy', file: 'eleventy.svg' }) }}
        {{ skill({ name: 'React.js', file: 'react.svg' }) }}
        {{ skill({ name: 'Git', file: 'git.svg' }) }}
        {{ skill({ name: 'Python', file: 'python.svg' }) }}
        {{ skill({ name: 'PHP', file: 'php.svg' }) }}
        {{ skill({ name: 'Wordpress', file: 'wordpress.svg' }) }}
        {{ skill({ name: 'Adobe Photoshop', file: 'adobe-photoshop.svg' }) }}
        {{ skill({ name: 'Adobe Illustrator', file: 'adobe-illustrator.svg' }) }}
        {{ skill({ name: 'Figma', file: 'figma.svg' }) }}
    </ul>
</section>