{%- macro skill(name, file) -%}
    <li class="skills__item">
	    <div class="skills__logo"><img src="/assets/icons/skills/{{ file }}" alt="{{ name }} logo"></div>
	    <p class="skills__title">{{ name }}</p>
	</li>
{%- endmacro -%}

<section class="section--home">
    <h2 class="heading--home">My Skills</h2>
    <ul class="skills__list">
        {{ skill('HTML', 'html.svg') }}
        {{ skill('CSS', 'css.svg') }}
        {{ skill('JavaScript', 'javascript.svg') }}
        {{ skill('Eleventy', 'eleventy.svg') }}
        {{ skill('PHP', 'php.svg') }}
        {{ skill('WordPress', 'wordpress.svg') }}
        {{ skill('Git', 'git.svg') }}
        {{ skill('React.js', 'react.svg') }}
        {{ skill('Python', 'python.svg') }}
        {{ skill('Adobe Photoshop', 'adobe-photoshop.svg') }}
        {{ skill('Adobe Illustrator', 'adobe-illustrator.svg') }}
        {{ skill('Canva', 'canva.svg') }}
        {{ skill('Figma', 'figma.svg') }}
    </ul>
</section>