{%- from "macros.njk" import skill -%}
<section class="section--home">
    <h2 class="heading--home">My Skills</h2>
    <ul class="skills__list">
        {{ skill({ name: 'HTML', file: 'html.svg' }) }}
        {{ skill({ name: 'CSS', file: 'css.svg' }) }}
        {{ skill({ name: 'JavaScript', file: 'javascript.svg' }) }}
        {{ skill({ name: 'React.js', file: 'react.svg' }) }}
        {{ skill({ name: 'Bootstrap', file: 'bootstrap.svg' }) }}
        {{ skill({ name: 'Nunjucks', file: 'nunjucks.png' }) }}
        {{ skill({ name: 'Python', file: 'python.svg' }) }}
        {{ skill({ name: 'Flask', file: 'flask.svg' }) }}
        {{ skill({ name: 'Firebase', file: 'firebase.svg' }) }}
        {{ skill({ name: 'Git', file: 'git.svg' }) }}
        {{ skill({ name: 'C', file: 'c-programming.svg' }) }}
        {{ skill({ name: 'Adobe Photoshop', file: 'adobe-photoshop.svg' }) }}
        {{ skill({ name: 'Adobe Illustrator', file: 'adobe-illustrator.svg' }) }}
        {{ skill({ name: 'Figma', file: 'figma.svg' }) }}
    </ul>
</section>