<section class="socials">
    <a href="https://github.com/helenclx" target="_blank">
        <img src="/assets/icons/socials/icons8-github.svg" alt="GitHub" loading="lazy" class="socials__icon"/>
    </a>
    <a href="https://twitter.com/helen_clx" target="_blank">
        <img src="/assets/icons/socials/icons8-twitter-circled.svg" alt="Twitter" loading="lazy" class="socials__icon"/>
    </a>
    <a href="https://tech.lgbt/@helenclx" target="_blank">
        <img src="/assets/icons/socials/icons8-mastodon-96.png" alt="Mastodon" loading="lazy" class="socials__icon"/>
    </a>
    <a href="https://bsky.app/profile/helenclx.bsky.social" target="_blank">
        <img src="/assets/icons/socials/bluesky.jpg" alt="Bluesky" loading="lazy" class="socials__icon"/>
    </a>
    <a href="https://www.linkedin.com/in/helenclx/" target="_blank">
        <img src="/assets/icons/socials/icons8-linkedin.svg" alt="Linkedin" loading="lazy" class="socials__icon"/>
    </a>
</section>
