<section class="socials">
    <a href="https://github.com/helenclx" target="_blank">
        <i class="fa-brands fa-github socials__icon"></i>
    </a>
    <a href="https://twitter.com/helen_clx" target="_blank">
        <i class="fa-brands fa-twitter socials__icon"></i>
    </a>
    <a href="https://tech.lgbt/@helenclx" target="_blank">
        <i class="fa-brands fa-mastodon socials__icon"></i>
    </a>
    <a href="https://bsky.app/profile/helenclx.bsky.social" target="_blank">
        <i class="fa-brands fa-bluesky socials__icon"></i>
    </a>
    <a href="https://www.linkedin.com/in/helenclx/" target="_blank">
        <i class="fa-brands fa-linkedin socials__icon"></i>
    </a>
</section>
