<section class="section--home grid-center">
    <h2 class="heading--home">Webrings</h2>
    <p>This site is a member of the following webrings:</p>
    <div class="webrings">
        <nav class="a11y-webring-club" aria-labelledby="a11y-webring-club">
            <h3 id="a11y-webring-club"><a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a></h3>
            <ul>
                <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/prev">Previous website</a></li>
                <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/random">Random website</a></li>
                <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/next">Next website</a></li>
            </ul>
        </nav>

        <nav>
            <h3><a href="https://cs.sjoy.lol/">CSS JOY Webring</a></h3>
            <ul>
                <li><a class="external-link" href="https://webri.ng/webring/cssjoy/previous?via=https://helenchong.dev/">Previous website</a></li>
                <li><a class="external-link" href="https://webri.ng/webring/cssjoy/random?via=https://helenchong.dev/">Random website</a></li>
                <li><a class="external-link" href="https://webri.ng/webring/cssjoy/next?via=https://helenchong.dev/">Next website</a></li>
            </ul>
        </nav>

        <nav>
            <h3>An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍</h3>
            <ul>
                <li><a href="https://xn--sr8hvo.ws/previous">Previous website</a></li>
                <li><a href="https://xn--sr8hvo.ws/next">Next website</a></li>
            </ul>
        </nav>
    </div>
</section>