/* Variables */
:root {
    --font-family: "Roboto", Arial, sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #7c00c3;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 1rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* STYLING BEGINS */
body {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.7rem;
}

a {
    /* text-decoration: none; */
    color: var(--primary-color);
    font-weight: 700;
}

a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

nav {
    padding: 0.7rem 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    position: fixed;
    background-color: var(--bg-color);
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    top: 5.375rem;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
    gap: 1.9rem;
}

nav ul li {
    margin: 0.5rem;
    font-weight: var(--bold-font);
}

.burger-menu {
    display: block;
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.nav-show {
    transform: translateX(0);
}

main {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    width: 100%;
    padding-top: 2rem;
}

.hero img {
    width: 100%;
    height: auto;
}

.bio {
    width: 85%;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    background-color: var(--bg-color);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.more-about {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--bg-color);
}

.more-about h2 {
	text-align: center;
    margin-bottom: var(--bottom-margin);
}

.more-about p {
    line-height: var(--line-height);
    padding: 1rem 0;
}

.more-about ul {
    padding-left: 2rem;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header {
    margin-bottom: 1rem;
}

.skills-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.skills-wrapper img {
    padding: 0.8rem;
}

.icon {
	width: 6rem;
	height: 6rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0 0.15rem 0.625rem var(--secondary-shadow);
    padding: 1rem;
}

.projects {
    background-color: var(--bg-color);
    padding: 2rem 0;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    width: 90%;
}

.project-pic {
    width: 65%;
    height: 60%;
    margin-bottom: var(--bottom-margin);
}

.projects-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
	flex-direction: column;
    gap: 1.2rem;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    text-align: center;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    width: 100%;
}

.link-btn {
    width: 100%;
    padding: 0.4rem;
    margin: 0.625rem 0;
    background-color: #fff;
    color: var(--primary-color);
    border: 0.13rem solid var(--primary-color);
    border-radius: 0.35rem;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.link-btn {
    text-decoration: none;
}

.link-btn:hover,
.submit-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: 0.13rem solid var(--primary-color);
    cursor: pointer;
}

.more-projects-link {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.25rem;
    font-weight: var(--bold-font);
    text-decoration: none;
    border: 0.15rem solid var(--primary-color);
    border-radius: 0.6rem;
    padding: 0.75rem 1.5rem;
    margin-top: 1.5rem;
    transition: var(--transition);
}

.more-projects-link:hover {
    color: var(--primary-color);
    background-color: #fff;
    cursor: pointer;
}

.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    max-width: 17.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 0.2rem;
    box-shadow: 0 0.17rem 0.625rem var(--secondary-shadow);
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 0.9rem;
}

.contact-form-container .input-field {
    width: 100%;
    padding: 0.5rem 0.4rem;
    border-radius: 0.35rem;
    border: none;
    border: 0.13rem outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}

.submit-btn {
    width: 100%;
    padding: 0.625rem;
    margin: 0.625rem 0;
    background-color: #fff;
    color: var(--primary-color);
    border: 0.13rem solid var(--primary-color);
    border-radius: 0.35rem;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}

.socicon {
    width: 2rem;
    height: 2rem;
}

footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}

/* Screen sizes larger than mobile */
@media only screen and (min-width: 30rem) {
    .burger-menu {
        display: none;
    }

    nav ul {
        flex-direction: row;
        position: static;
        background-color: none;
        top: 0;
        left: 0;
        width: auto;
        transform: none;
        transition: none;
        gap: 1rem;
        margin: 0;
    }

    .more-about {
        padding: 1rem;
        max-width: 80%;
    }

    .projects-container {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .contact-form-container {
        max-width: 23.75rem;
    }
}

/* Tablet screen size */
@media only screen and (min-width: 45rem) {
    nav {
        padding: 1.5rem;
    }

    .hero {
        width: 90%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: auto;
        gap: 1rem;
    }

    .hero img {
        max-width: 35rem;
    }

    .bio {
        min-width: 18rem;
        padding: 1rem;
    }

    .more-about {
        padding: 1rem 0;
        max-width: 85%;
    }
    
    .icon {
        width: 10rem;
        height: 10rem;
    }

    .projects {
        width: 100%;
    }

    .projects-container {
        gap: 1.6rem;
    }

    .project-card {
        max-width: 22rem;
    }

    .contact-form-container {
        max-width: 40.75rem;
    }

    .socicon {
        width: 2.2rem;
        height: 2.2rem;
    }
}

/* Desktop screen size */
@media only screen and (min-width: 60rem) {
    nav {
        padding: 1.3rem 1.5rem;
    }
    
    .hero {
        width: 80%;
    }

    .hero img {
        max-width: 100%;
    }

    .bio {
        min-width: 27rem;
    }

    .more-about {
        max-width: 50rem;
    }
    
    .socicon {
        width: 2.5rem;
        height: 2.5rem;
    }
}