---
layout: main/base
title: About
eleventyNavigation:
    key: About
    order: 1
---

<article class="bio prose">
    <h2 class="heading--main">About Me</h2>

    <p>Hi, I am Helen Chong (they/she). I am a front-end web developer with 8 years of working experience as a graphic designer.</p>

    <p>Currently I specialise in front-end web development. I intend to transfer my graphic design experience into web design and web development expertise.</p>

    <h3>My Certificates:</h3>
    <ul>
        <li>freeCodeCamp's <a href="https://www.freecodecamp.org/certification/helenclx/responsive-web-design">Responsive Web Design Certification</a></li>
        <li>freeCodeCamp's <a href="https://www.freecodecamp.org/certification/helenclx/javascript-algorithms-and-data-structures-v8">JavaScript Algorithms and Data Structures (Beta) Certification</a></li>
        <li>freeCodeCamp's <a href="https://www.freecodecamp.org/certification/helenclx/javascript-algorithms-and-data-structures">Legacy JavaScript Algorithms and Data Structures Certification</a></li>
        <li>Chingu Voyage #46 <a href="/assets/documents/Chingu-Voyage46-Completion-Cert.pdf" target="blank">Certificate of Completion</a> (PDF file)</li>
        <li><a href="https://cs50.harvard.edu/certificates/8cb0f5a4-4107-4df6-8abc-cfab3a437367">CS50’s Introduction to Computer Science 2024</a> certificate  (PDF file)</li>
    </ul>
</article>