---
title: Blog
layout: blog/base
tags: blog pages
blogNav: Index
eleventyNavigation:
    key: Blog
    order: 3
---

<h1 class="heading--main">Helen Codes</h1>

<section class="prose">
    <p>Welcome to my tech and coding blog!</p>

    <p>I created this blog to document my coding journey and talk about various tech topics.</p>

    <p>Enjoy!</p>
</section>

<h2>Latest Posts:</h2>
<ul class="blog__postlist">
    {% for post in collections.posts | reverse | limit(3) %}
        <li>
            <p class="blog__postlist--title"><a href="{{post.url}}">{{ post.data.title }}</a></p>
            <time>{{ post.date | niceDate }}</time>
        </li>
    {% endfor %}
</ul>

<p>See all blog posts in the <a href="/blog/posts/">archive</a>.</p>
