---
title: Blog
tags: blog pages
blogNav: Index
eleventyNavigation:
    key: Blog
    order: 3
---

<section class="prose">
    <p>Welcome to my tech and coding blog!</p>

    <p>I created this blog to document my coding journey and talk about various tech topics.</p>

    <p>Enjoy!</p>
</section>

<h2>Latest Posts:</h2>
{% set postList = collections.posts | reverse | limit(3) %}
{% include "blog/postslist.njk" %}

<p>See all blog posts in the <a href="/blog/posts/">archive</a>.</p>
