---
title: Thank You
pageTitle: Thank You!
permalink: contact/thanks.html
eleventyExcludeFromCollections: true
---

<p>Thanks for reaching out to me. I will get back to you as soon as possible.</p>

<p>You may <a href="/">return to home page</a>.</p>