---
layout: main/base
title: Now
desc: What I am up to at the moment.
updated: 2024-05-01
eleventyNavigation:
    key: Now
    order: 2
---

<article class="prose">
    <h2 class="heading--main">Now</h2>

    <p><em>This page was last updated on {{ updated | niceDate }}.</em></p>

    <p>This is my <a href="https://nownownow.com/about" target="_blank">/now page</a>, which highlights what I am doing and focusing on at the moment. You can find more pages like this at <a href="https://nownownow.com/" target="_blank">nownownow.com</a>.</p>

    <p>You can also view <a href="https://nownownow.com/p/D9En" target="_blank">my profile on nownownow.com</a>.</p>

    <h3>My Current Progress in My Courses</h3>

    <h4><a href="https://scrimba.com/learn/frontend" target="_blank">Scrimba's Frontend Developer Career Path</a>:</h4>
    <ul>
        <li>Completed Module 9 - Learn UI Design</li>
        <li>Completed Module 10 - React Basics</li>
        <ul>
            <li>Note: I had completed most of this module and <a href="https://github.com/helenclx/Scrimba-React-Solo-Projects" target="_blank">all the solo projects</a> form this module in July 2023, before enrolling the Frontend Developer Career Path in January 2024. This time I was merely watching all the updated scrims.</li>
        </ul>
    </ul>

    <h4><a href="https://cs50.harvard.edu/x/2024/" target="_blank">CS50’s Introduction to Computer Science</a>:</h4>
    <ul>
        <li>Completed Week 9. Doing my final project: A blogging website built in Flask and Bootstrap.</li>
        <ul>
            <li>Refactor the project with Flask blueprints.</li>
        </ul>
    </ul>
</article>
