---
layout: main/base
title: Now
updated: 2024-04-20
---

<article class="prose">
    <h2 class="heading--main">Now</h2>

    <p><em>This page was last updated on {{ updated | niceDate }}.</em></p>

    <p>This is my <a href="https://nownownow.com/about" target="_blank">/now page</a>, which highlights what I am doing and focusing on at the moment. You can find more pages like this at <a href="https://nownownow.com/" target_blank="">nownownow.com</a>.</p>

    <h3>My current progress in my courses</h3>

    <p><a href="https://scrimba.com/learn/frontend" target="_blank">The Frontend Developer Career Path</a>: Module 6 - Working with APIs: Started the final section of the module, Promise Rejection & Capstone.</p>

    <p><a href="https://cs50.harvard.edu/x/2024/" target="_blank">CS50’s Introduction to Computer Science</a>: Completed Week 9. Brainstorming ideas for the final project.</p>
</article>
