---
title: Projects
eleventyNavigation:
    key: Projects
    order: 4
---

<h1 class="heading--main">Featured Projects</h1>
<div class="project-list">
    {% asyncEach project in collections.projects %}
        {% include "main/project-card.njk" %}
    {% endeach %}
</div>