---
layout: main/base
title: Projects
date: 2023-01-03
---

<h2 class="projects__heading">Featured Projects</h2>
<div class="project-list">
    {% asyncEach project in collections.projects %}
        {% include "main/project-card.njk" %}
    {% endeach %}
</div>