---
layout: main/base
title: Projects
eleventyNavigation:
    key: Projects
    order: 4
---

<h2 class="projects__heading">Featured Projects</h2>
<div class="project-list">
    {% asyncEach project in collections.projects %}
        {% include "main/project-card.njk" %}
    {% endeach %}
</div>