/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* STYLING BEGINS */
/* General styles */
body {
    background-color: #d4bde1;
    font-size: 1.3rem;
    font-family: 'Roboto', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 1.2rem;
}

h1, h2, h3, h4, h5 {
    color: #7c00c3;
}

p {
    line-height: 1.6em;
    padding: 0.5rem 0;
}

strong {
    color: #7c00c3;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.right {
    float: right;
    margin-left: 1em;
}

.left {
    float: left;
    margin-right: 1em;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@media only screen and (min-width: 37.5rem) {
    .small {
        max-width: 60%;
        height: auto;
    }
}

.caption {
    margin-top: 0;
    font-size: 0.9em;
    font-style: italic;
}

a {
    color: #7c00c3;
    font-weight: 700;
}

a:hover { 
    color: #ff7235;
    text-decoration: none;
}

:focus {
    outline: 0.15em solid #7c00c3;
}

hr {
    border-width: 0.1rem 0 0 0;
    border-color: #676767; 
}

/* The rectangle that has contains everything but the background */
.blog-container {
    width: 95%;
    max-width: 68.75rem;
    background-color: white;
    color: #333333;
    margin: 1em 0;
    overflow: hidden;
    outline-color: #333333;
    outline-style: solid;
    outline-width: 3px;
    outline-offset: 0;
}

/* HEADER STYLE */
.blog-header {
    background-color: #333333;
}

.blog-header ul {
    list-style-type: none;
    padding: 0.5em 1em;
    margin: 0;
}

.blog-header li {
    display: inline-block;
    margin-right: 1.5em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.blog-header li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: inherit;
}

.blog-header li a:focus {
    outline: 0.15em solid white;
    outline-offset: 0.2em;
}

.blog-header li a:hover {
    text-decoration: underline;
}

/* BLOG CONTENT STYLE */
.blog-content {
    padding: 1em;
}

/* POST TITLE STYLE */
.blog__title,
.blog-post__title {
    font-size: 1.75em;
}

/* POST DATE STYLE */
.blog-post__date {
    font-size: 1.1em;
    margin-bottom: 1.1em;
}

/* POST LIST STYLE */
.blog-recent-post-list {
    margin-top: 1em;
}

.blog-post-list ul,
.blog-recent-post-list ul {
    font-size: 1.1em;
    padding: 0;
    list-style-type: none;
}

.blog-post-list ul li,
.blog-recent-post-list ul li {
    margin-bottom: 0.5em;
}

.moreposts {
    font-size: 0.8em;
    margin-top: 0.2em;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
.blog-nextprev {
    text-align: center;
    margin: 1.4em 0;
}

/* DISQUS STYLE */
#disqus_thread {
    margin-top: 1.6em;
    padding: 1em;
}

#disqus_thread:focus {
    outline-offset: 0.2em;
}

/* FOOTER STYLE */
.blog-footer {
    font-size: 0.8em;
    padding: 1em;
}