---
permalink: .htaccess
eleventyExcludeFromCollections: true
---
ErrorDocument 404 /404.html

<FilesMatch "\.(ico|svg|avif|jpg|png|gif|js|css|woff2)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>