---
layout: main/base
permalink: 404.html
eleventyExcludeFromCollections: true
---
<h2 class="heading--main text-center">Oops! Content not found.</h2>

<p class="text-center">Go back to <a href="/">home page</a>.</p>
