---
layout: "main/base.njk"
title: About
---

<section class="bio prose">
    <h2 class="heading--main">About Me</h2>

    <p>My name is Helen Chong. I am a front-end web developer with 8 years of working experience as a graphic designer.</p>

    <p>Currently I specialise in front-end web development. I intend to transfer my graphic design experience into web design and web development expertise.</p>

    <h3>My Certificates:</h3>

    <ul>
        <li>freeCodeCamp's <a href="https://www.freecodecamp.org/certification/helenclx/responsive-web-design" target="_blank">Responsive Web Design Certification</a></li>
        <li>freeCodeCamp's <a href="https://www.freecodecamp.org/certification/helenclx/javascript-algorithms-and-data-structures-v8" target="_blank">JavaScript Algorithms and Data Structures (Beta) Certification</a></li>
        <li>freeCodeCamp's <a href="https://www.freecodecamp.org/certification/helenclx/javascript-algorithms-and-data-structures" target="_blank">Legacy JavaScript Algorithms and Data Structures Certification</a></li>
        <li>Chingu Voyage #46 <a href="assets/documents/Chingu-Voyage46-Completion-Cert.pdf" target="blank">Certificate of Completion</a></li>
    </ul>
</section>