---
title: Helen Codes
layout: main/base
---

<h2 class="heading--main">Helen Codes</h2>

<section class="prose">
    <p>Welcome to my tech and coding blog!</p>

    <p>I created this blog to document my coding journey and talk about various tech topics.</p>

    <p>You can check out my <a href="https://helenclx.github.io" taraget="blank">portfolio website</a>.</p>

    <p>You can subscribe to <a href="feed.xml">my blog's RSS feed</a>.</p>

    <p>Enjoy!</p>
</section>

<h2 class="heading--main">Latest Posts:</h2>

<ol>
    {% for post in collections.posts | reverse | limit(3) %}
        <li>
            <h3><a href="{{post.url}}">{{ post.data.title }}</a></h3>
            <time>Posted {{ post.date | niceDate }}</time>
        </li>
    {% endfor %}
</ol>

<p>See all blog posts in the <a href="/blog/archive/">archive</a>.</p>