---
permalink: "{{ page.filePathStem }}"
eleventyExcludeFromCollections: true
eleventyAllowMissingExtension: true
---
# Redirect obfuscated email links to mailto link
@email_path path_regexp ^.*{{ sitemeta.siteAuthor.emailDecoyUrl }}.*
redir @email_path mailto:{{ sitemeta.siteAuthor.email }}
