---
layout: global/base
title: "Helen Chong | Front-End Web Developer"
desc: Helen Chong's developer portfolio and blog.
---

<h1 class="home__title">Helen Chong, Web Developer</h1>
<div class="home--container">
    {{ include "main/profile.vto" }}
    {{# {{ include "main/notice.vto" }} #}}
    {{ include "main/blog-section.vto" }}
    {{ include "main/project-grid.vto" }}
    {{ include "main/web-membership.vto" }}
    {{ include "main/badges.vto" }}
</div>
