---
layout: main/base
metadata:
    title: Helen Chong | Front-End Web Developer
    desc: Helen Chong's developer portfolio.
---

<h1 class="visually-hidden">Home Page</h1>
<div class="home--container">
    {% include "main/profile.njk" %}
    {% include "main/skills.njk" %}
    {% include "main/project-grid.njk" %}
    {% include "main/webrings.njk" %}
    {% include "main/badges.njk" %}
</div>