---
layout: global/base
metadata:
    title: Helen Chong | Front-End Web Developer
    desc: Helen Chong's developer portfolio and blog.
---

<h1 class="home__title">Helen Chong, Web Developer</h1>
<div class="home--container">
    {{ include "main/profile.html" }}
    {{# {{ include "main/notice.html" } #}}
    {{ include "main/blog-section.html" }}
    {{ include "main/project-grid.html" }}
    {{ include "main/web-membership.html" }}
    {{ include "main/badges.html" }}
</div>
