---
layout: layouts/base
---

<h1 class="home__title">Helen Chong, Web Developer</h1>
<div class="home--container">
    {{ include "home/profile.vto" }}
    {{ include "home/notice.vto" }}
    {{ include "home/blog-section.vto" }}
    {{ include "home/project-grid.vto" }}
    {{ include "home/web-membership.vto" }}
    {{ include "home/badges.vto" }}
</div>
