---
permalink: "{{ page.filePathStem }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {%- for item in collections.all %}
    <url>
        <loc>{{ sitemeta.siteUrl + item.url }}</loc>
        <lastmod>{% if item.updated %}{{ item.updated.toISOString() }}{% else %}{{ item.date.toISOString() }}{% endif %}</lastmod>
        <changefreq>{{ item.data.sitemap.changefreq | default("weekly") }}</changefreq>
		<priority>{{ item.data.sitemap.priority | default(0.5) }}</priority>
    </url>
    {%- endfor %}
</urlset>