<!DOCTYPE html>
<html lang="{{ sitemeta.siteLang }}" id="top">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Open Graph meta data #}
        <meta property="og:title" content="{{ title if title else sitemeta.siteName }}">
        <link rel="canonical" href="{{ sitemeta.siteUrl }}{{ page.url }}">
        <meta name="generator" content="{{ eleventy.generator }}">
        <meta name="author" content="{{ sitemeta.siteAuthor.name }}">
        <meta name="description" content="{{ desc or metadata.desc or sitemeta.siteDescription }}">
        <meta name="fediverse:creator" content="{{ sitemeta.siteAuthor.fediverse.handle }}">
        <meta property="og:site_name" content="{{ sitemeta.siteName }}" />
        <meta property="og:type" content="{{ "article" if tags and tags.includes("posts") else "website" }}">
        <meta property="og:description" content="{{ desc or metadata.desc or sitemeta.siteDescription }}">
        <meta property="og:url" content="{{ sitemeta.siteUrl }}{{ page.url }}">
        <meta property="og:locale" content="{{ sitemeta.siteLocale }}">
        <meta name="theme-color" content="#8200cd">

        {# Fonts #}
        {% include "global/fonts.njk" %}

        {# Feeds #}
        <link rel="alternate" type="application/rss+xml" title="{{ sitemeta.siteBlog.title | safe }}" href="{{ sitemeta.feedPath }}">

        {# Favicon #}
        <link rel="icon" sizes="32x32" href="/favicon.ico">
        <link rel="icon" type="image/svg+xml" href="/assets/favicon/HC-favicon.svg">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/assets/favicon/site.webmanifest">

        {# CSS #}
        {% include "global/css.njk" %}
        <style>{% getBundle "css" %}</style>

        {# Verifications #}
        <link rel="me" href="mailto:contact@helenchong.dev">
        <link rel="me" href="https://social.lol/@helenchong">
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">

        {# JavaScript #}
        <script src="{% getBundleFileUrl 'js' %}" defer></script>
        {% if toc %}
        <script src="/assets/js/details-utils.js" defer></script>
        {% endif %}

        <title>{% if title %} {{ title }} | {% endif %} {{ sitemeta.siteName }}</title>
    </head>
    <body>
        <div class="skip-btn"><a href="#content">Skip to content</a></div>
        {% include "global/header.njk" %}
        <main id="content">
            {{ content | safe }}
        </main>
        {% include "global/footer.njk" %}
    </body>
</html>