<!DOCTYPE html>
<html lang="en" id="top">
    <head>
        {# Open Graph meta data #}
        <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ sitemeta.siteName }}{% endif %}">
        {% metagen
            desc=desc or metadata.desc,
            url=sitemeta.siteUrl + page.url,
            auhor=sitemeta.siteAuthor.name,
            site_name=sitemeta.siteName,
            locale=sitemeta.siteLocale,
            generator=eleventy.generator
        %}

        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{'/assets/icons/favicon/apple-touch-icon.png' | url | safe}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/icons/favicon/favicon-32x32.png' | url | safe}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/icons/favicon/favicon-16x16.png' | url | safe}}">
        <link rel="manifest" href="{{'/assets/icons/favicon/site.webmanifest' | url | safe}}">

        {# CSS #}
        {% include "global/css.njk" %}
        <style>{% getBundle "css" %}</style>

        {# Verifications #}
        <link rel="me" href="mailto:contact@helenchong.dev">
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">

        {# Webmention #}
        <link rel="webmention" href="https://webmention.io/helenchong.dev/webmention">

        {# JavaScript #}
        <script src="{% getBundleFileUrl 'js' %}" defer></script>

        <title>{% if title %} {{ title }} | {% endif %} {{ sitemeta.siteName }}</title>
    </head>
    <body>
        <div class="skip-btn"><a href="#content">Skip to content</a></div>
        {% include "global/header.njk" %}
        <main id="content">
            {{ content | safe }}
        </main>
        {% include "global/footer.njk" %}
    </body>
</html>