{% set cssFiles = [
    "global",
    "general",
    "home",
    "components",
    "projects",
    "contact",
    "content",
    "blog",
    "socials",
    "utility"
] %}

{%- for file in cssFiles -%}
<link rel="stylesheet" href="{{'/assets/css/' + file + '.css' | url | safe}}">
{%- endfor -%}