{% set cssFiles = [
    "global",
    "general",
    "home",
    "components",
    "projects",
    "contact",
    "content",
    "blog",
    "socials",
    "utility"
] %}

{%- for file in cssFiles -%}
<link href="{{'/assets/css/' + file + '.css' | url | safe}}" rel="preload" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{'/assets/css/' + file + '.css' | url | safe}}"></noscript>
{%- endfor -%}