<footer class="footer">
    {% include "global/socials.njk" %}

    <p>Built with &#x2661; by {{ sitemeta.siteAuthor.name }}. 2023–{% currentYear %}.</p>

    <ul class="inline-list">
        <li><a href="/blog/feed.xml">RSS Feed</a></li>
    {%- for statement in collections.statements -%}
        <li><a
            {% if entry.url == page.url %}aria-current="page"{% endif %}
            href="{{ statement.url }}"
        >{{ statement.data.title }}</a></li>
    {%- endfor -%}
    </ul>

    <p>Built with <a href="https://www.11ty.dev/">Eleventy</a>. <a href="https://github.com/helenclx/helenclx.github.io">Source Code</a>.</p>

    {% include "global/top-btn.njk" %}
    {% include "global/h-card.njk" %}
</footer>

{%- css %}
    .footer {
        width: 100%;
        padding: 2em 1em clamp(2em, calc(100% - 2rem), 3em);
        text-align: center;
        display: flex;
        gap: 0.5em;
        flex-direction: column;
        box-shadow: var(--bs-footer);
    }
{% endcss %}