<footer class="footer">
    <div class="widgets site-btns">
        <img src="/assets/icons/helenchong-88x31.png" alt="Helen Chong's 88×31 website button" width="88" height="31" loading="lazy">
        <img src="/assets/icons/helenchong-200x40.png" alt="Helen Chong's 200×40 website button" width="200" height="40" loading="lazy">
    </div>

    <h2 class="visually-hidden">Footer Navigation:</h2>
    <ul class="inline-list">
        <li>
            <a href="{{ sitemeta.feedPath }}">
                <svg class="inline-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 64C0 46.3 14.3 32 32 32c229.8 0 416 186.2 416 416c0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96C14.3 96 0 81.7 0 64zM0 416a64 64 0 1 1 128 0A64 64 0 1 1 0 416zM32 160c159.1 0 288 128.9 288 288c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>RSS Feed
            </a>
        </li>
    {%- for statement in collections.statements -%}
        <li><a
            {% if entry.url == page.url %}aria-current="page"{% endif %}
            href="{{ statement.url }}"
        >{{ statement.data.title }}</a></li>
    {%- endfor -%}
    </ul>

    <p>Made with 💜 by {{ sitemeta.siteAuthor.name }} • 2023–{% currentYear %}</p>
    <p>Built with <a href="https://www.11ty.dev/">Eleventy</a> v{{ eleventy.version }}. <a href="https://github.com/helenclx/helenchong.dev" class="external-link">Source Code</a>.</p>

    {% include "global/socials.njk" %}

    <div class="widgets"><a href="https://buymeacoffee.com/helenchong"><img src="/assets/icons/buymeacoffee.png" alt="Buy Me a Coffee" width="200" height="59" loading="lazy"></a></div>

    {% include "global/h-card.njk" %}
    {% include "global/top-btn.njk" %}
</footer>

{%- css %}
    .footer {
        width: 100%;
        padding: 2em 1em clamp(2em, calc(100% - 2rem), 3em);
        text-align: center;
        display: flex;
        gap: 0.5em;
        flex-direction: column;
        justify-content: center;
        align-tems: center;
        box-shadow: var(--bs-footer);
    }
{% endcss %}