<footer class="footer">
    {% include "global/socials.njk" %}

    <p>Built with &#x2661; by {{ sitemeta.siteAuthor.name }}. 2023–{% currentYear %}.</p>

    <ul class="footer__links">
        <li><a href="/blog/feed.xml">RSS Feed</a></li>
    {%- for statement in collections.statements -%}
        <li><a
            {% if entry.url == page.url %}aria-current="page"{% endif %}
            href="{{ statement.url }}"
        >{{ statement.data.title }}</a></li>
    {%- endfor -%}
    </ul>

    <p>Built with <a href="https://www.11ty.dev/">Eleventy</a>. <a href="https://github.com/helenclx/helenclx.github.io">Source Code</a>.</p>

    {% include "global/top-btn.njk" %}
    {% include "global/h-card.njk" %}
</footer>

<style>
    .footer {
        width: 100%;
        padding: 2em 1em clamp(1em, calc(100% - 2rem), 3em);
        text-align: center;
        display: flex;
        gap: 0.5em;
        flex-direction: column;
    }

    .footer__links {
        justify-self: center;
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        column-gap: 0.5em;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__links li:not(:last-child)::after {
        content: '•';
        padding-left: 0.5em;
    }

    {# /* Screen sizes larger than mobile */
    @media only screen and (min-width: 30rem) {
        .footer {
            padding: 1.5em 1em 2em;
        }
    }

    /* Tablet screen size */
    @media only screen and (min-width: 43.75rem) {
        .footer {
            padding: 1.5em 1em;
        }
    } #}
</style>