{% set currentUrl %}{{ page.url }}{% endset %}

<header class="header">
    <h2 class="header__title">
        <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Helen Chong</a>
    </h2>
    <nav role="navigation">
        <button class="header__toggle" aria-label="Toggle navigation menu" aria-expanded="false">
            <svg aria-hidden="true" width="35" height="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 6H20M4 12H20M4 18H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <ul class="header__links">
            {% set navPages = collections.all | eleventyNavigation %}
            {%- for entry in navPages %}
                <li><a
                    {% if entry.url == page.url %}aria-current="page"{% endif %}
                    class="header__link {% if '/blog' in currentUrl and '/blog' in entry.url or '/projects' in currentUrl and '/projects' in entry.url %}link--active{% endif %}"
                    href="{{ entry.url }}">
                        {{ entry.title }}
                </a></li>
            {%- endfor %}
        </ul>
    </nav>
</header>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem 1.5rem;
        position: sticky;
        top: 0;
        background-color: var(--clr-body-bg);
        box-shadow: var(--bs-main);
    }

    .header__title {
        color: var(--clr-accent-600);
        text-transform: uppercase;
        font-size: 2rem;
        margin: 0;
    }

    .header__title a:focus,
    .header__toggle:focus {
        outline: 0.12em solid var(--clr-accent-600);
    }

    .header__title > a {
        text-decoration: none;
    }

    .header__toggle {
        border: none;
        background-color: transparent;
        font-size: 2rem;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .header__links {
        list-style: none;
        font-size: 1.125rem;
        font-weight: 600;
        color: var(--clr-accent-600);
        text-align: center;
        gap: 2rem;

        position: fixed;
        background-color: var(--clr-body-bg);
        display: grid;
        top: 4.5rem;
        left: 10%;
        width: 80%;
        padding: 1.5em;
        box-shadow: var(--bs-main);
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    .header__links--show,
    .header__links:focus-within {
        transform: translateX(0);
    }

    .header__links [aria-current="page"],
    .link--active {
        color: var(--clr-link-hover);
    }

    .header__link {
        position: relative;
        font-size: 1.125rem;
        text-decoration: none;
    }

    .header__link::after {
        content: "";
        left: 0px;
        bottom: -4px;
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: var(--clr-link-hover);
        transform: scaleX(0);
        transition: transform 0.3s ease 0s;
    }

    .header__link:hover::after,
    .header__links [aria-current="page"]::after,
    .link--active::after {
        transform: scaleX(1);
    }

    .header__link:focus {
        outline: 0.2em solid var(--clr-accent-600);
        outline-offset: 0.1em;
    }

    /* For larger screen sizes */
    @media (min-width: 640px) {
        .header__title {
            margin-bottom: 0;
        }
    }

    /* Tablet screen size */
    @media only screen and (min-width: 43.75rem) {
        .header__toggle {
            display: none;
        }

        .header__links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: static;
            background-color: inherit;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            width: unset;
            transform: none;
            transition: none;
            box-shadow: none;
        }
    }
</style>

<script>
    {# Accessible hamburger menu navigation script based on:
    https://accessibleweb.dev/navigation #}
    const headerToggle = document.querySelector(".header__toggle");
    const headerLinksClass = ".header__links";
    const headerLinks = document.querySelector(headerLinksClass);
    const headerLinkAll = document.querySelectorAll('.header__link');
    const showHeaderLinkClass = "header__links--show";

    const openNavigation = () => {
        headerLinks.classList.add(showHeaderLinkClass);
        headerToggle.ariaExpanded = "true";
    };

    const closeNavigation = () => {
        headerLinks.classList.remove(showHeaderLinkClass);
        headerToggle.ariaExpanded = "false";
    };

    const toggleNavigation = () => {
        const open = headerToggle.ariaExpanded;
        open === "false" ? openNavigation() : closeNavigation();
    }

    headerToggle.addEventListener("click", toggleNavigation);

    headerLinkAll.forEach((link) => {
        link.addEventListener('click', () => {
            headerLinks.classList.remove(showHeaderLinkClass);
        });
    });

    window.addEventListener("keyup", (e) => {
        if (e.key === "Escape") {
            headerLinks.classList.remove(showHeaderLinkClass);
            headerToggle.focus();
        }
    });

    const handleBlur = (event) => {
    const navList = event.currentTarget.closest(headerLinksClass);
    if (!event.relatedTarget || !navList.contains(event.relatedTarget)) {
            closeNavigation();
        }
    };

    headerLinkAll[headerLinkAll.length - 1].addEventListener("blur", handleBlur);
</script>