{%- macro skill(params) -%}
    <li class="skills__item">
	    <div class="skills__logo"><img src="/assets/icons/skills/{{ params.file }}" alt="{{ params.name }} logo"></div>
	    <p class="skills__title">{{ params.name }}</p>
	</li>
{%- endmacro -%}