{%- macro skill(params) -%}
    <li class="skills__item">
	    <img src="/assets/icons/skills/{{ params.file }}" alt="{{ params.name }} logo" class="skills__logo">
	    <p class="skills__title">{{ params.name }}</p>
	</li>
{%- endmacro -%}