<aside class="left-sidebar" aria-label="Left sidebar">
    <details-utils force-open="(min-width: 60rem)" force-restore>
        <details class="toc__wrapper sidebar--sticky">
            <summary class="toc__heading" id="toc-heading">
                Table of Contents
            </summary>
            {{ content | toc | safe }}
        </details>
    </details-utils>
</aside>

{%- css %}
    .toc__wrapper {
        max-height: 89vh;
        overflow-x: auto;
        padding: 0.3em 1.3rem;
    }

    .toc__heading {
        font-size: 1.3rem;
        font-weight: 700;
        cursor: pointer;
    }

    .toc ol,
    .toc ol ol {
        display: grid;
        gap: 0.7em;
    }

    .toc ol {
        border-top: 0.1em solid var(--clr-txt-default);
        padding-left: 1.3em;
        padding-top: 1em;
    }

    .toc ol ol {
        border-top: none;
        list-style-type: disc;
        padding-left: 1em;
        padding-top: 0.5em;
        margin: 0;
    }

    .toc ol a {
        font-size: 1.1rem;
        padding-left: 0.3em;
    }

    .toc ol ol a {
        padding: 0;
        font-size: 1rem;
    }
{% endcss %}
