{% set topLinkTitle = "Back to Top" %}

<a href="#top" class="top-btn hidden" title="{{ topLinkTitle }}">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M7 11l5-5m0 0l5 5m-5-5v12" />
    </svg>
    <span class="visually-hidden">{{ topLinkTitle }}</span>
</a>
<noscript>
    <p><a class="top-link" href="#top">{{ topLinkTitle }}</a></p>
</noscript>

<style>
    .top-btn,
    .top-btn:hover {
        color: var(--clr-top-btn-txt);
    }

    .top-btn {
        position: fixed;
        bottom: 0.5rem;
        right: 0.5rem;
        z-index: 999;

        background-color: var(--clr-top-btn-bg);
        border-radius: 50em;
        height: 2rem;
        aspect-ratio: 1 / 1;
    }

    .top-btn:focus {
        outline: 0.25em solid var(--clr-top-btn-bg);
        outline-offset: 0.15em;
    }

    .top-link::before,
    .top-link::after {
        --arrow-margin: 0.3em;
        content: "";
        display: inline-block;
        border-bottom: 0.6rem solid currentColor;
        border-left: 0.4rem solid transparent;
        border-right: 0.4rem solid transparent;
    }

    .top-link::before {
        margin: 0 var(--arrow-margin) 0 0;
    }

    .top-link::after {
        margin: 0 0 0 var(--arrow-margin);
    }
</style>

<script defer>
    const topButton = document.querySelector(".top-btn");
    const scrollOffset = 400;

    window.onscroll = () => {
        if (document.body.scrollTop > scrollOffset || document.documentElement.scrollTop > scrollOffset) {
            topButton.classList.remove("hidden");
        } else {
            topButton.classList.add("hidden");
        }
    };

    topButton.addEventListener('click', () => {
        window.scrollTo({ top: 0, left: 0 });
    });
</script>